@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: Inter;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style-type: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

.container {
    padding: 0 3.91vw;
    position: relative;
    &--dark {
        background: #303030;
        padding: 0 3.91vw;
    }
}

.header {
    &__top {
        display: flex;
        justify-content: space-between;
        position: relative;
        padding: 30px 0;
    }
    &__nav {
        display: flex;
        align-items: center;
        width: 100%;
        gap: 3%;
        a {
            list-style: none;
            color: #000;
            text-align: right;
            font-family: Inter;
            font-size: 0.9375vw;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
        }
    }
    &__contacts {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    &__adress,
    &__phone {
        color: #000;
        font-family: Inter;
        font-size: 0.9375vw;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
    &__adress {
        margin-right: 4%;
        &::before {
            content: url('../img/geo.svg');
            margin-right: 6px;
        }
    }
    &__time {
        color: #787878;
        font-family: Inter;
        font-size: 0.9375vw;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin-left: 1%;
    }
    &__call {
        color: #FD6814;
        font-family: Inter;
        font-size: 0.9375vw;
        font-style: normal;
        margin-left: 1.5%;
        font-weight: 500;
        line-height: normal;
    }
    // header center
    &__center {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 2.0833vw;
    }
    &__logo {
        img {
            width: 247.80.9375vw;
            height: 58px;
        }
    }
    &__btn-catalog {
        min-width: 235px;
        height: 58px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        background: rgba(253, 104, 20, 0.10);
        color: #FD6814;
        font-family: Inter;
        font-size: 0.9375vw;
        font-style: normal;
        font-weight: 600;
        cursor: pointer;
        line-height: normal;
        &::before {
            content: url('../catalog-img/catalog__before.svg');
        }
        &.active {
            color: #FFF;
            background-color: #FD6814;
            &::before {
                content: url('../catalog-img/x.svg');
            }
        }
        span {
            margin-left: 0.9375vw;
        }
        img {
            width: 18px;
            height: 12px;
        }
    }
    &__search {
        height: 58px;
        max-width: 1109px;
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;
        input[type="submit"] {
            display: none;
        }
        label {
            position: absolute;
            right: 25px;
            cursor: pointer;
            img {
                cursor: pointer;
                width: 26px;
                height: 26px;
            }
        }
    }
    &__input {
        height: 100%;
        width: 100%;
        border-radius: 10px;
        border: 2px solid rgba(0, 0, 0, 0.10);
        background: #FFF;
        padding: 0 51px 0 25px;
    }
    &__btn-cart {
        img {
            width: 58px;
            height: 58px;
        }
    }
    &__bottom {
        display: flex;
        justify-content: space-between;
        padding: 30px 0;
        a {
            list-style: none;
            display: flex;
            justify-content: center;
            color: #000;
            font-family: Inter;
            font-size: 1.1458vw;
            font-style: normal;
            font-weight: 600;
            cursor: pointer;
            line-height: normal;
            &:hover {
                opacity: .6;
            }
        }
    }
    &__navigation {
        display: flex;
        gap: 16px;
        a {
            color: #808080;
            font-family: Inter;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            display: block;
        }
        span {
            color: #E6E6E6;
            font-size: 16px;
            display: block;
        }
    }
    position: relative;
    &__catalog {
        width: 100%;
        padding: 45px 0;
        top: 155px;
        z-index: 9;
        position: absolute;
        background: white;
        display: grid;
        gap: 15px;
        grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
        .catalog__item {
            width: 100%;
            img {
                width: 270px;
            }
            @media screen and (max-width: 1700px) {
                width: 19.1%;
            }
        }
        .catalog__name {
            color: #000;
            font-family: Inter;
            font-size: 20px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            margin-top: 20px;
        }
    }
    .none {
        display: none;
    }
    .header__btn-catalog,
    .header__catalog {
        transition: all 0.3s ease;
    }
}

.title {
    display: flex;
    gap: 15px;
    margin-top: 30px;
    align-items: flex-end;
    h1 {
        color: #000;
        font-family: Inter;
        font-size: 42px;
        font-style: normal;
        font-weight: 700;
        line-height: 100%;
    }
    span {
        color: #808080;
        font-family: Inter;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: 130%;
    }
    span.title__result {
        color: #000;
        font-family: Inter;
        font-size: 42px;
        font-style: normal;
        font-weight: 500;
        line-height: 140%;
        .mobile {
            display: none;
        }
        .result {
            color: #000;
            font-family: Inter;
            font-size: 42px;
            font-style: normal;
            font-weight: 700;
            line-height: 140%;
        }
    }
    &__quantity {
        color: #808080;
        font-family: Inter;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: 130%;
    }
}

#show-filters-btn {
    display: none;
}

.filters {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 39px;
    @media screen and (min-width: 1000px) {
        .scroll {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            width: 100%;
        }
    }
    &__item {
        max-width: 435px;
        width: calc(25% - 8px);
        height: 58px;
        display: flex;
        padding: 25px;
        gap: 8px;
        align-items: center;
        border-radius: 10px;
        border: 2px solid #808080;
        background: #FFF;
        color: #000;
        font-family: Inter;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        position: relative;
        &::after {
            content: url("../catalog-img/page/filters.svg");
            position: absolute;
            right: 25px;
        }
        &.active::after {
            content: url('../catalog-img/page/decheckbox.svg');
        }
        &.active {
            border-color: #000;
        }
        span {
            color: #808080;
            white-space: nowrap;
            /* Предотвращает перенос текста на новую строку */
            overflow: hidden;
            display: block;
            width: calc(100% - 115px);
        }
    }
}

.filters__item {
    cursor: pointer;
}

.checkboxs {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 200px;
    width: fit-content;
    gap: 15px 80px;
}

.checkbox-container {
    position: relative;
    margin-bottom: 5px;
    padding: 0;
    label {
        display: block;
        position: relative;
        cursor: pointer;
        padding-left: 35px;
        color: #000;
        font-family: Inter;
        font-size: 18px;
        font-weight: 500;
        line-height: normal;
        &:before,
        &:after {
            content: '';
            position: absolute;
        }
        &:before {
            left: 0;
            top: -2px;
            width: 28px;
            height: 28px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 5px;
            border: 2px solid #808080;
            background: #FFF;
        }
        &:hover {
            &::before {
                border-color: #FD6814;
            }
        }
        &:after {
            content: url('../catalog-img/page/checkbox.svg');
            display: none;
            top: 0;
            left: 6px;
        }
    }
    input[type="checkbox"] {
        display: none;
        &:checked+label {
            &:before {
                border-color: #FD6814;
            }
            &:after {
                display: block;
            }
        }
    }
}

.filter {
    display: flex;
    gap: 40px;
    margin-top: 32px;
}

.filter-options {
    border-radius: 10px;
    border: 2px solid #808080;
    background: #FFF;
    display: none;
    box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.05);
    width: calc(100% - 3.91vw - 3.91vw);
    padding: 30px;
    position: absolute;
    z-index: 1;
    margin-top: 15px;
    .filters__btn {
        display: flex;
        gap: 10px;
    }
    .apply-button,
    .reset-button {
        width: 162px;
        height: 58px;
        flex-shrink: 0;
        border-radius: 10px;
        margin-top: 43px;
        font-family: Inter;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        display: block;
    }
    .apply-button {
        background: #FFF0E8;
        color: #FD6814;
        &:hover {
            background: #FD6814;
            color: #FFF;
        }
    }
    .reset-button {
        background: #F3F3F3;
        color: #808080;
        &:hover {
            background: #808080;
            color: #FFF;
        }
    }
}

.db {
    display: none;
}

.modal__title {
    display: none;
}

#price-filter,
.db {
    margin-bottom: 37px;
    /* Изменение цвета дорожки */
    .noUi-target,
    .noUi-target .noUi-base {
        background: #808080;
        width: 394px;
    }
    .inputs {
        margin-bottom: 43px;
        display: flex;
        justify-content: space-between;
        max-width: 394px;
        width: 100%;
        input {
            color: #000;
            font-family: Inter;
            font-size: 18px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            width: 144px;
            height: 48px;
            display: block;
            border-radius: 10px;
            border: 2px solid #000;
            background: #FFF;
            padding: 0px 15px;
        }
        input[type="number"]::-webkit-inner-spin-button,
        input[type="number"]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
        input[type="number"] {
            -moz-appearance: textfield;
        }
        input[type="number"] {
            -ms-appearance: textfield;
        }
    }
    /* Изменение цвета ползунка */
    .noUi-handle {
        border: none;
        box-shadow: none;
        background: #FD6814;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        top: -14px;
        &::after,
        &::before {
            content: none;
        }
    }
    .noUi-base,
    .noUi-connects {
        height: 4px;
    }
    .noUi-target {
        height: 4px;
    }
    .noUi-connect {
        background: #FD6814;
    }
    .noUi-active {
        box-shadow: inset 0 0 1px #FFF, 0 3px 6px -3px #BBB;
    }
    .noUi-state-tap .noUi-connect,
    .noUi-state-tap .noUi-origin {
        transition: transform 0.3s;
    }
    .noUi-tooltip {
        background: #333;
        color: #FFF;
        border-radius: 3px;
    }
}

.sort {
    display: flex;
    justify-content: space-between;
}

.sortby,
.quantity {
    display: flex;
    color: #808080;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    gap: 10px;
    margin-top: 45px;
    &__item {
        cursor: pointer;
    }
    .active {
        color: #000;
    }
}

.catalog {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
    gap: 20px;
    align-items: start;
    margin-top: 42px;
    &__btn {
        height: 58px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        border-radius: 10px;
        background: #F3F3F3;
        margin-top: 25px;
        color: #787878;
        font-family: Inter;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
}

.product {
    max-width: 420px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    &__img {
        img {
            border-radius: 10px;
            max-width: 420px;
            max-height: 327px;
            min-width: 248.598px;
            width: 100%;
        }
    }
    &__fabric {
        margin-top: 16px;
        &--title {
            color: #787878;
            font-family: Inter;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: 120%;
            /* 21.6px */
        }
        &--name {
            color: #000;
            font-family: Inter;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: 120%;
        }
    }
    &__name {
        margin-top: 20px;
        color: #000;
        font-family: Inter;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 130%;
    }
    &__price {
        display: flex;
        align-items: center;
        gap: 9px;
        margin-top: 20px;
        &--natural {
            color: #000;
            font-family: Inter;
            font-size: 32px;
            font-style: normal;
            font-weight: 700;
            line-height: 130%;
        }
        &--dicont {
            color: #787878;
            font-family: Inter;
            font-size: 24px;
            font-style: normal;
            font-weight: 600;
            line-height: 130%;
            text-decoration: line-through;
        }
    }
    &__btn {
        display: flex;
        margin-top: 20px;
        align-items: center;
    }
    &__add {
        width: 150px;
        height: 58px;
        border-radius: 10px;
        background: #FFF0E8;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #FD6814;
        font-family: Inter;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
    &__is {
        color: #43B97B;
        font-family: Inter;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        margin-left: 42px;
        display: flex;
        align-items: center;
        gap: 5px;
        position: relative;
        img {
            width: 7px;
            height: 7px;
        }
    }
}

.bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    &__right {
        color: #808080;
        font-family: Inter;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        span {
            color: #000;
        }
    }
}

.pagination {
    display: flex;
    gap: 10px;
    &__item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 58px;
        height: 58px;
        border-radius: 10px;
        background: #E6E6E6;
        color: #787878;
        font-family: Inter;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        cursor: pointer;
        img {
            width: 8px;
            height: 16px;
        }
        &.active {
            background: #787878;
            color: #fff;
        }
    }
}

.footer {
    padding: 50px 0;
    margin-top: 150px;
    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap: 100px;
    }
    &__nav {
        display: flex;
        flex-wrap: wrap;
        gap: 35px;
        max-width: 653px;
        li {
            list-style: none;
            color: #FFF;
            text-align: right;
            font-family: Inter;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
        }
    }
    &__bottom {
        display: flex;
        justify-content: space-between;
        gap: 35px;
        flex-wrap: wrap;
        align-items: center;
        margin-top: 50px;
        color: #FFF;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
}

.tapbar {
    display: none;
}

.feedback {
    display: flex;
    padding: 10vh 0;
    align-items: center;
    margin-top: 13.88888888888889vh;
    &__title {
        color: #FFF;
        font-family: Inter;
        font-size: 2.1875vw;
        font-style: normal;
        font-weight: 700;
        line-height: 140%;
        /* 58.8px */
    }
    &__desc {
        color: #FFF;
        font-family: Inter;
        font-size: 1.25vw;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
        max-width: 29.6875vw;
        margin-top: 20px;
    }
    &__form {
        display: flex;
        gap: 30px;
        margin-top: 45px;
    }
    &__input {
        width: 19.2708vw;
        height: 68px;
        position: relative;
        flex-shrink: 0;
        &::before {
            content: '*';
            position: absolute;
            top: 0;
            right: 20px;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #787878;
        }
        input {
            width: 100%;
            height: 100%;
            border-radius: 10px;
            background: #FFF;
            padding-left: 20px;
            &,
            &::placeholder {
                color: #787878;
                font-family: Inter;
                font-size: 18px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
            }
        }
    }
    &__btn {
        margin-top: 30px;
        display: flex;
        align-items: center;
        gap: 30px;
    }
    &__send {
        width: 218px;
        height: 68px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        background: #FD6814;
        color: #FFF;
        font-family: Inter;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
    &__politica {
        color: #FFF;
        font-family: Inter;
        font-size: 0.8333vw;
        font-style: normal;
        max-width: 25.46875;
        font-weight: 400;
        line-height: 130%;
        a {
            color: #FD6814;
        }
    }
    &__more {
        color: #FFF;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 140%;
        margin-top: 80px;
        /* 22.4px */
    }
    &__right {
        img {
            width: 45.3125vw;
        }
    }
}

.modal--call {
    position: absolute;
    top: 0;
    height: 100vh;
    overflow: scroll;
    display: none;
    background: #303030;
    align-items: center;
    &__close {
        position: absolute;
        top: 80px;
        right: 80px;
        cursor: pointer;
    }
    @media screen and (max-width: 1200px) {
        align-items: flex-start;
        top: 78px;
        max-height: calc(100vh - 78px - 83px);
        &__close {
            img {
                width: 22px;
                height: 22px;
            }
            top: 15px;
            right: 20px;
        }
    }
    .container--dark {
        display: flex;
        align-items: center;
        height: fit-content;
    }
    .feedback {
        margin: 0;
        height: fit-content;
    }
}

.offers {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 45px;
    &__item {
        display: inline-flex;
        padding: 0 25px;
        height: 52px;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        border: 2px solid #787878;
        background: #FFF;
        color: #000;
        font-family: Inter;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
}

.catalog {
    &__block {
        display: flex;
        gap: 30px;
        flex-wrap: wrap;
    }
    &__item {
        width: 330px;
        width: calc(20% - 24px);
        img {
            width: 100%;
            height: 100%;
        }
    }
    &__name {
        margin-top: 20px;
        color: #000;
        font-family: Inter;
        font-size: 1.25vw;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
}

.header__menu {
    display: none;
}

.catalog-modal {
    display: none;
}

.no-scroll {
    overflow: hidden;
}

.actiom {
    display: inline-flex;
    padding: 7px 8px;
    justify-content: center;
    align-items: center;
    border-radius: 10px 0px 3px 0px;
    background: #F0533D;
    color: #FFF;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 900;
    line-height: 130%;
    position: absolute;
}

.sortby-mobile {
    display: none;
}